{% if site.owner.disqus-shortname %}
<script type="text/javascript">
    (function () {
        var disqusShortname = '{{ site.owner.disqus-shortname }}';
        function insertDisqusScript(shostname, file) {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + shostname + '.disqus.com/' + file;
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        };
        insertDisqusScript(disqusShortname, 'embed.js');
        insertDisqusScript(disqusShortname, 'count.js');
    })();
</script>
{% endif %}