---
layout: default
---
<div class="md:bg-center-hero bg-bgContrastColor z-10 relative">
  <section class="relative mx-auto container h-96 md:h-[36rem]">
    <div class="relative z-10 md:px-0 md:w-5/6 flex flex-col justify-center h-full pl-2 md:pl-0">
      <h1 class="text-5xl font-rubik font-extrabold text-textContrastColorDarker pb-2">Welcome to <ruby>Esta<span class="text-green-800">couve</span><span class="md:text-primaryColorDarker lg:text-textContrastColorDarker">flor</span>
        <br /><rt class="font-molengo" aria-hidden="true">/stæ kōʹvə flōr/</rt></ruby>
      </h1>
      <p class="text-2xl font-rubik pt-14 w-4/6">React Frontend, mixed with bare metal embedded development, ARM and low level development.</p>
    </div>
    <img src="assets/img/cleiton-pointing.png" class="absolute md:block right-0 bottom-0 h-64 md:h-96" />
  </section>
</div>
<div class="bg-purple-100">
<section class="mx-auto container py-6 px-4 md:px-0">
  {%- include article-list.html -%}
</div>
</section>
