---
layout: default
---
<div class="bg-violet-50 relative w-fix">
  <section class="mx-auto container min-h-[calc(100vh-96px)] py-6 flex flex-row flex-nowrap justify-between content-start">
    <div class="hidden lg:block w-1/6 sticky top-0 h-fit">
      <div class="text-xl text-textContrastColorDarker py-4 font-rubik uppercase -ml-2">On this page</div>
      <div id="toc-destination"></div>
    </div>
    <div class="py-4 px-2 w-full lg:w-5/6">
      <h1 class="text-5xl text-primaryColor font-rubik font-extrabold pb-1">{{ page.title | escape }}
      </h1>
      <p class="post-meta">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {{ page.date | date: date_format }}
        </time>
        {%- if page.modified_date -%}
        ~
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
        {%- endif -%}
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
        • <span class="p-author h-card" itemprop="name">{{ site.author.name }}</span></span>
      </p>
      {% if page.description %}
        <p class="post-description text-3xl text-textContrastColorDarker font-abel font-extralight pt-2">{{ page.description | escape }}</p>
      {% endif %}
      <div class="post-content mt-4 w-full overflow-hidden">
      {{ content }}
      </div>
      <div class="post-coments">
          {%- include disqus_comments.html -%}
      </div>
      {% if site.related_posts.size > 0 %}
      <div class="related-articles shadow-lg p-4 px-6 mt-4 rounded bg-primaryColor">
        <h4 class="text-bgContrastColor text-2xl my-4 font-rubik flex justify-between"><span>You may be looking for</span> <small class="text-sm"><a href="{{ site.url }}/posts/">See all</a></small></h4>
        <ul class="list-disc list-inside">
          {% for post in site.related_posts limit: 5 %}
          <li class="list-item pb-2 text-xl text-bgContrastColor font-abel hover:underline"><a href="{{ post.url | relative }}" title="{{ post.title }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
    </div>
  </section>
</div>
